/* CSS Variables - OK all pages === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'BioRhyme',
        serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

/* Submit form flex - OK*/

section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(./img/saturn/saturn-wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    width: 80%;
    margin: 0px auto;
    padding: 20px;
}
.outside-form{
    width: 100%;
    text-shadow: 1px -1px 5px var(--headerColor);
    font-size: 1.3rem;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
}
.form-group{
    text-shadow: 1px -1px 5px var(--headerColor);
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    margin: 30px 200px 20px 200px;
    width: auto;
}
.form-group input{
    width: 30%;
}
.form-group textarea{
    width: 100%;
}
input{
    background-color: lightgray;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    border: 2px solid #511C29;
    border-radius: 3px;
}
textarea{
    background-color: lightgray;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    border: 3px solid #511C29;
    border-radius: 3px;
    line-height: 25px;
    overflow: hidden;
    resize: none;
}

/* Focus personlized as website colors - OK*/

textarea:focus{
    border: none;
    outline: 3px solid var(--siennaColor);
}
input:focus{
    border: none;
    outline: 3px solid var(--siennaColor);
}

/* Button and success message - OK*/

button{
    width: 35%;
    height: 40px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    background: var(--siennaColor);
    border: 1px solid var(--underlineColor);
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.5s linear;
    cursor: pointer;
    margin-bottom: 40px;
}
button:active{
    scale: 90%;
}
#status{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 70px;
    border-radius: 4px;
    font-weight: bold;
}

/* Succes message animations and conditions true or false - OK */

#status.success{
    width: 400px;
    border: 2px solid var(--lightblueColor);
    background-color: var(--headerColor);
    animation: status 2s ease forwards;
}
#status.error{
    width: 400px;
    border: 2px solid black;
    background-color: darkred;
    animation: status 2s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    80%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}
/* Footer and content */

.footer {
    width: 100%;
    height: 80px;
    position: fixed;
}
.toppageicon {
    width: auto;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 2%;
    left: 97%;
    scale: 200%;
}

/* Media screen adaptation for smartphone */
/* Fix .toppageicon not visible once deployed on github - TBD w/ circle-arrow-up.png ?*/

@media screen and (max-width:770px){
    .homepage {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }
    .banner {
    font-size: 2rem;
    }
    .headernav {
    font-size: 1.3rem;
    margin: 10px;
    padding-top: 15px;
    }
    .footer {
        font-size: 0.8rem;
    }
    .toppageicon {
        bottom: 2%;
        left: 92%;
    }
}